
body {
    color: white; /* This sets text colour */
    background-color: oklch(0.2 0 0);
    align-items: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    color: white;
    border: 0px;
    border-radius: 4px;
    font-size: 2rem;
    padding: 0.5rem;
    width: 165px;
    min-width: 75px;
    background-color: oklch(0.1424 0 267.35);
    margin-left: 5px;
    margin-right: 5px;
}

.btn:hover {
    background-color: oklch(0.4926 0.1899 267.35);
}

.btn:focus {
    background-color: oklch(0.9103 0 267.35 / 52.21%);
}

btn:disabled {
    background-color: gray;
}
